<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css"/>
    <style type="text/css">
        body {
            padding-top: 70px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("AddressBook", "Search", new { Controller = "Addresses"}, new { @class = "navbar-brand"} )
            </div>
            <ul class="nav navbar-nav">
                <li>
                    @Html.ActionLink("グルップ管理", "Index", new { Controller = "Groups"}, null)
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
